{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Hangman Game{% endblock %}

{% block container %}
    <br>
    Type here your guessed letter:
    <input class="typed_char" type="text" maxlength="1"
    style="width: 25px; text-align: center; text-transform: uppercase;" />
    <div class="word_show">
        {{ word_show }}
    </div>
    <br><br>
    <span class='new_game'>New Game</span><br>
{% endblock %}
{% block footer_script %}
    <script>
        jQuery(document).ready(function() {
            GameJS.init();
        });
    </script>
{% endblock %}
